---
import "../styles/global.css";
interface Props {
  title: string;
}

const { title } = Astro.props;

const navLinks = [
  {
    name: "Home",
    path: "/",
  },
  {
    name: "Projects",
    path: "/projects",
  },
  {
    name: "Certifications 🚧",
    path: "#",
    disabled: true
  }
];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Martijn's Portfolio Website" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <title>{title} | Martijn</title>
  </head>
  <body class="mx-auto max-w-2xl">
    <div class="header py-4">
      <h1 class="text-3xl font-bold">👋 Hey, I'm Martijn</h1>
    </div>
    <div class="navbar mb-4">
      {
        navLinks.map((link) => (
        link.disabled ? 
        <a class="mr-2 text-gray-700 cursor-not-allowed">
          {link.name}
        </a>
      :
        <a class="mr-2" href={link.path}>
            {link.name}
          </a>
        ))
      }
    </div>
    <slot />
  </body>
</html>
<style is:global></style>
